In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [3]:
results = pd.read_csv("/Users/alexanderkell/Documents/PhD/Projects/18-battery-optimisation/data/results/run_data_battery_1_time_2021-03-28-17-15-03.csv")
results['datetime'] = pd.to_datetime(results['datetime'], errors='coerce')
results

FileNotFoundError: [Errno 2] File /Users/alexanderkell/Documents/PhD/Projects/18-battery-optimisation/data/results/run_data_battery_1_time_2021-03-28-17-15-03.csv does not exist: '/Users/alexanderkell/Documents/PhD/Projects/18-battery-optimisation/data/results/run_data_battery_1_time_2021-03-28-17-15-03.csv'

In [ ]:
results = results.rename(columns={"charge_solar": "Solar Charge", "charge_load": "Electricty Charge", "discharge_size": "Discharge", "current_solar": "Solar Power", "current_controlled_load_consumption": "Controlled Electricity Demand", "current_general_electricity_consumption": "General Electricity Demand", "current_charge": "Battery Charge Level"})
results

In [ ]:
results_long = results.drop(columns=["Unnamed: 0"]).melt(id_vars=["datetime"])
results_long

In [ ]:
sns.lineplot(data=results_long, x="datetime", y="value", hue="variable")
plt.legend(bbox_to_anchor=(1, 1), loc='upper left', ncol=1)

In [ ]:
# see_status = results_long[results_long['variable'].isin(["current_charge", "current_solar", "discharge_size","current_controlled_load_consumption"])]

sns_plot = sns.lineplot(data=results_long[results_long.datetime<"2013-01-15"], x="datetime", y="value", hue="variable")
plt.legend(bbox_to_anchor=(1, 1), loc='upper left', ncol=1)
plt.xlabel("Date and time")
plt.ylabel("Value (kWh)")
sns_plot.get_figure().autofmt_xdate()

In [ ]:
see_status = results_long[results_long['variable'].isin(["Battery Charge Level", "Solar Power", "Discharge","Controlled Electricity Demand"])]

sns_plot = sns.lineplot(data=see_status[see_status.datetime<"2013-01-16"], x="datetime", y="value", hue="variable")
plt.legend(bbox_to_anchor=(1, 1), loc='upper left', ncol=1)
plt.xlabel("Date and time")
plt.ylabel("Value (kWh)")
sns_plot.get_figure().autofmt_xdate()

In [ ]:
see_status = results_long[results_long['variable'].isin(["Battery Charge Level", "Solar Power", "General Electricity Demand"])]

sns_plot = sns.lineplot(data=see_status[see_status.datetime<"2013-01-16"], x="datetime", y="value", hue="variable")
plt.legend(bbox_to_anchor=(1, 1), loc='upper left', ncol=1)
plt.xlabel("Date and time")
plt.ylabel("Value (kWh)")
sns_plot.get_figure().autofmt_xdate()

In [4]:
see_status = results_long[results_long['variable'].isin(["Battery Charge Level", "General Electricity Demand", "Controlled Electricity Demand","Solar Power"])]

sns_plot = sns.lineplot(data=see_status[see_status.datetime<"2013-01-15"], x="datetime", y="value", hue="variable")
plt.legend(bbox_to_anchor=(1, 1), loc='upper left', ncol=1)
plt.xlabel("Date and time")
plt.ylabel("Value (kWh)")
sns_plot.get_figure().autofmt_xdate()

NameError: name 'results_long' is not defined

## Exploring all files

In [13]:
import glob

path = '/Users/alexanderkell/Documents/PhD/Projects/18-battery-optimisation/data/results/results_04-04-2021' # use your path
all_files = glob.glob(path + "/*.csv")
li = []

for i, filename in enumerate(all_files):
    df = pd.read_csv(filename, index_col=None, header=0)
    df['battery_size'] = filename.split("battery_")[1].split("_time")[0]
    df['id'] = i
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)
frame

,Unnamed: 0,datetime,charge_solar,charge_load,discharge_size,current_solar,current_controlled_load_consumption,current_general_electricity_consumption,current_charge,reward,battery_size,id
0,0,2013-01-14 00:00:00,0.357271,0.015425,0.821155,0.0,0.000,0.073,0.732730,-0.000000,1.4,0
1,1,2013-01-14 00:30:00,0.000000,0.037438,1.341943,0.0,0.000,0.115,1.189505,-0.000000,1.4,0
2,2,2013-01-14 01:00:00,0.354610,0.025908,1.368376,0.0,1.094,0.024,0.224469,-0.000000,1.4,0
3,3,2013-01-14 01:30:00,1.352402,0.023338,1.370279,0.0,1.263,0.126,0.000000,-0.011356,1.4,0
4,4,2013-01-14 02:00:00,1.325949,0.027347,1.395305,0.0,1.250,0.319,0.000000,-0.054281,1.4,0
...,...,...,...,...,...,...,...,...,...,...,...,...
729115,2347,2013-06-30 21:30:00,1.162718,1.301949,0.830476,0.0,0.000,0.260,0.570476,-0.000000,1.4,319
729116,2348,2013-06-30 22:00:00,0.122502,0.078114,1.006276,0.0,0.000,0.274,0.732276,-0.000000,1.4,319
729117,2349,2013-06-30 22:30:00,1.109679,0.158510,0.838851,0.0,0.000,0.509,0.329851,-0.000000,1.4,319
729118,2350,2013-06-30 23:00:00,0.128841,0.031825,1.251082,0.0,0.000,0.166,1.053257,-0.000000,1.4,319
729119,2351,2013-06-30 23:30:00,1.329247,0.448938,1.147963,0.0,0.000,0.861,0.783548,-0.000000,1.4,319

In [15]:
frame_renamed = frame.rename(columns={"charge_solar": "Solar Charge", "charge_load": "Electricty Charge", "discharge_size": "Discharge", "current_solar": "Solar Power", "current_controlled_load_consumption": "Controlled Electricity Demand", "current_general_electricity_consumption": "General Electricity Demand", "current_charge": "Battery Charge Level"})

frame_long = frame_renamed.drop(columns=["Unnamed: 0"]).melt(id_vars=["datetime","battery_size","reward", "id"])
frame_long['battery_size'] = pd.to_numeric(frame_long.battery_size)
frame_long.datetime = pd.to_datetime(frame_long.datetime)
frame_long['time'] = frame_long.datetime.dt.strftime('%H:%M')
frame_long

,datetime,battery_size,reward,id,variable,value,time
0,2013-01-14 00:00:00,1.4,-0.000000,0,Solar Charge,0.357271,00:00
1,2013-01-14 00:30:00,1.4,-0.000000,0,Solar Charge,0.000000,00:30
2,2013-01-14 01:00:00,1.4,-0.000000,0,Solar Charge,0.354610,01:00
3,2013-01-14 01:30:00,1.4,-0.011356,0,Solar Charge,1.352402,01:30
4,2013-01-14 02:00:00,1.4,-0.054281,0,Solar Charge,1.325949,02:00
...,...,...,...,...,...,...,...
5103835,2013-06-30 21:30:00,1.4,-0.000000,319,Battery Charge Level,0.570476,21:30
5103836,2013-06-30 22:00:00,1.4,-0.000000,319,Battery Charge Level,0.732276,22:00
5103837,2013-06-30 22:30:00,1.4,-0.000000,319,Battery Charge Level,0.329851,22:30
5103838,2013-06-30 23:00:00,1.4,-0.000000,319,Battery Charge Level,1.053257,23:00
5103839,2013-06-30 23:30:00,1.4,-0.000000,319,Battery Charge Level,0.783548,23:30

In [16]:
frame_long['reward_mean'] = frame_long.groupby(["id"])['reward'].transform("mean")
frame_long

,datetime,battery_size,reward,id,variable,value,time,reward_mean
0,2013-01-14 00:00:00,1.4,-0.000000,0,Solar Charge,0.357271,00:00,-0.006233
1,2013-01-14 00:30:00,1.4,-0.000000,0,Solar Charge,0.000000,00:30,-0.006233
2,2013-01-14 01:00:00,1.4,-0.000000,0,Solar Charge,0.354610,01:00,-0.006233
3,2013-01-14 01:30:00,1.4,-0.011356,0,Solar Charge,1.352402,01:30,-0.006233
4,2013-01-14 02:00:00,1.4,-0.054281,0,Solar Charge,1.325949,02:00,-0.006233
...,...,...,...,...,...,...,...,...
5103835,2013-06-30 21:30:00,1.4,-0.000000,319,Battery Charge Level,0.570476,21:30,-0.003720
5103836,2013-06-30 22:00:00,1.4,-0.000000,319,Battery Charge Level,0.732276,22:00,-0.003720
5103837,2013-06-30 22:30:00,1.4,-0.000000,319,Battery Charge Level,0.329851,22:30,-0.003720
5103838,2013-06-30 23:00:00,1.4,-0.000000,319,Battery Charge Level,1.053257,23:00,-0.003720
5103839,2013-06-30 23:30:00,1.4,-0.000000,319,Battery Charge Level,0.783548,23:30,-0.003720

In [18]:
frame_plot = frame_long#[(frame_long['variable'].isin(["Battery Charge Level", "Solar Power", "Discharge","Controlled Electricity Demand", "General Electricity Demand"]))]

frame_plot.to_csv("/Users/alexanderkell/Documents/PhD/Projects/18-battery-optimisation/data/processed/all_results.csv")

In [ ]:
sns_plot = sns.lineplot(data=frame_plot[(frame_plot.battery_size==1) & (frame_plot.reward_mean >-87)], x="time", y="value", hue="variable")
plt.legend(bbox_to_anchor=(1, 1), loc='upper left', ncol=1)
plt.xlabel("Time")
plt.ylabel("Value (kWh)")
sns_plot.get_figure().autofmt_xdate()