In [1]:
import pandas as pd
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestRegressor
import seaborn as sns

In [27]:
data = pd.read_csv("/Users/alexanderkell/Documents/PhD/Projects/18-battery-optimisation/data/processed/2012-2013-solar-electricity-data.csv")
data.datetime = pd.to_datetime(data.datetime)

# data = data.sort_values(by=['Customer','datetime'])
data.head(20)

,Unnamed: 0,Customer,Generator Capacity,Postcode,Consumption Category,date,time,consumption,datetime
0,0,1,3.78,2076,controlled_load_consumption,1/07/2012,0:30,1.250,2012-01-07 00:30:00
1,1,1,3.78,2076,general_electricity_consumption,1/07/2012,0:30,0.855,2012-01-07 00:30:00
2,2,1,3.78,2076,solar_generation,1/07/2012,0:30,0.000,2012-01-07 00:30:00
3,3,1,3.78,2076,controlled_load_consumption,2/07/2012,0:30,1.250,2012-02-07 00:30:00
4,4,1,3.78,2076,general_electricity_consumption,2/07/2012,0:30,0.309,2012-02-07 00:30:00
5,5,1,3.78,2076,solar_generation,2/07/2012,0:30,0.000,2012-02-07 00:30:00
6,6,1,3.78,2076,controlled_load_consumption,3/07/2012,0:30,1.244,2012-03-07 00:30:00
7,7,1,3.78,2076,general_electricity_consumption,3/07/2012,0:30,0.092,2012-03-07 00:30:00
8,8,1,3.78,2076,solar_generation,3/07/2012,0:30,0.000,2012-03-07 00:30:00
9,9,1,3.78,2076,controlled_load_consumption,4/07/2012,0:30,1.256,2012-04-07 00:30:00
10,10,1,3.78,2076,general_electricity_consumption,4/07/2012,0:30,0.081,2012-04-07 00:30:00
11,11,1,3.78,2076,solar_generation,4/07/2012,0:30,0.000,2012-04-07 00:30:00
12,12,1,3.78,2076,controlled_load_consumption,5/07/2012,0:30,1.244,2012-05-07 00:30:00
13,13,1,3.78,2076,general_electricity_consumption,5/07/2012,0:30,0.445,2012-05-07 00:30:00
14,14,1,3.78,2076,solar_generation,5/07/2012,0:30,0.000,2012-05-07 00:30:00
15,15,1,3.78,2076,controlled_load_consumption,6/07/2012,0:30,1.250,2012-06-07 00:30:00
16,16,1,3.78,2076,general_electricity_consumption,6/07/2012,0:30,0.056,2012-06-07 00:30:00
17,17,1,3.78,2076,solar_generation,6/07/2012,0:30,0.000,2012-06-07 00:30:00
18,18,1,3.78,2076,controlled_load_consumption,7/07/2012,0:30,1.231,2012-07-07 00:30:00
19,19,1,3.78,2076,general_electricity_consumption,7/07/2012,0:30,0.497,2012-07-07 00:30:00

In [33]:
data['lag'] = data.groupby('Consumption Category')['consumption'].shift()
data[data['Consumption Category']=='general_electricity_consumption'].head(20)

,Unnamed: 0,Customer,Generator Capacity,Postcode,Consumption Category,date,time,consumption,datetime,lag
1,1,1,3.78,2076,general_electricity_consumption,1/07/2012,0:30,0.855,2012-01-07 00:30:00,NaN
4,4,1,3.78,2076,general_electricity_consumption,2/07/2012,0:30,0.309,2012-02-07 00:30:00,0.855
7,7,1,3.78,2076,general_electricity_consumption,3/07/2012,0:30,0.092,2012-03-07 00:30:00,0.309
10,10,1,3.78,2076,general_electricity_consumption,4/07/2012,0:30,0.081,2012-04-07 00:30:00,0.092
13,13,1,3.78,2076,general_electricity_consumption,5/07/2012,0:30,0.445,2012-05-07 00:30:00,0.081
16,16,1,3.78,2076,general_electricity_consumption,6/07/2012,0:30,0.056,2012-06-07 00:30:00,0.445
19,19,1,3.78,2076,general_electricity_consumption,7/07/2012,0:30,0.497,2012-07-07 00:30:00,0.056
22,22,1,3.78,2076,general_electricity_consumption,8/07/2012,0:30,0.171,2012-08-07 00:30:00,0.497
25,25,1,3.78,2076,general_electricity_consumption,9/07/2012,0:30,0.517,2012-09-07 00:30:00,0.171
28,28,1,3.78,2076,general_electricity_consumption,10/07/2012,0:30,0.994,2012-10-07 00:30:00,0.517
31,31,1,3.78,2076,general_electricity_consumption,11/07/2012,0:30,0.277,2012-11-07 00:30:00,0.994
34,34,1,3.78,2076,general_electricity_consumption,12/07/2012,0:30,0.975,2012-12-07 00:30:00,0.277
37,37,1,3.78,2076,general_electricity_consumption,13/07/2012,0:30,0.095,2012-07-13 00:30:00,0.975
40,40,1,3.78,2076,general_electricity_consumption,14/07/2012,0:30,0.049,2012-07-14 00:30:00,0.095
43,43,1,3.78,2076,general_electricity_consumption,15/07/2012,0:30,0.643,2012-07-15 00:30:00,0.049
46,46,1,3.78,2076,general_electricity_consumption,16/07/2012,0:30,0.363,2012-07-16 00:30:00,0.643
49,49,1,3.78,2076,general_electricity_consumption,17/07/2012,0:30,0.098,2012-07-17 00:30:00,0.363
52,52,1,3.78,2076,general_electricity_consumption,18/07/2012,0:30,0.992,2012-07-18 00:30:00,0.098
55,55,1,3.78,2076,general_electricity_consumption,19/07/2012,0:30,0.998,2012-07-19 00:30:00,0.992
58,58,1,3.78,2076,general_electricity_consumption,20/07/2012,0:30,0.937,2012-07-20 00:30:00,0.998

In [35]:
lagged_data = data.copy()
for lag_number in range(72):
    lagged_data['lag_{}'.format(lag_number)] = data.groupby('Consumption Category')['consumption'].shift(lag_number)
    
lagged_data

,Unnamed: 0,Customer,Generator Capacity,Postcode,Consumption Category,date,time,consumption,datetime,lag,...,lag_62,lag_63,lag_64,lag_65,lag_66,lag_67,lag_68,lag_69,lag_70,lag_71
0,0,1,3.78,2076,controlled_load_consumption,1/07/2012,0:30,1.250,2012-01-07 00:30:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,3.78,2076,general_electricity_consumption,1/07/2012,0:30,0.855,2012-01-07 00:30:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1,3.78,2076,solar_generation,1/07/2012,0:30,0.000,2012-01-07 00:30:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1,3.78,2076,controlled_load_consumption,2/07/2012,0:30,1.250,2012-02-07 00:30:00,1.250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1,3.78,2076,general_electricity_consumption,2/07/2012,0:30,0.309,2012-02-07 00:30:00,0.855,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461371,12631786,9,1.02,2259,general_electricity_consumption,29/06/2013,0:00,0.192,2013-06-29 00:00:00,0.055,...,0.185,0.052,0.052,0.079,0.072,0.076,0.277,0.051,0.039,0.024
461372,12631787,9,1.02,2259,solar_generation,29/06/2013,0:00,0.000,2013-06-29 00:00:00,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
461373,12631788,9,1.02,2259,controlled_load_consumption,30/06/2013,0:00,0.003,2013-06-30 00:00:00,0.000,...,1.841,1.880,1.857,1.849,1.871,1.860,1.843,1.823,1.872,1.864
461374,12631789,9,1.02,2259,general_electricity_consumption,30/06/2013,0:00,0.067,2013-06-30 00:00:00,0.192,...,0.057,0.185,0.052,0.052,0.079,0.072,0.076,0.277,0.051,0.039
461375,12631790,9,1.02,2259,solar_generation,30/06/2013,0:00,0.000,2013-06-30 00:00:00,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000